      body {
          background-color: rgb(81, 144, 159);
      }

      h1 {
          color: rgb(255, 255, 255);
          text-align: center;
      }

      p {
          font-size: 20px;
          color: rgb(216, 216, 216);
      }